* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10 / 16 = 0625 | to get font size easier to control */
  font-size: 62.5%;
}

body {
  position: relative;
  min-height: 100vh;
  padding: 0 2.4rem;
  padding-bottom: 6rem;
}

li {
  list-style: none;
}

.App {
  max-width: 60.8rem;
  margin: 0 auto;
}

.todo--title {
  font-size: 3.6rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 3.2rem;
}

.todos-container {
  display: flex;
  flex-direction: column;
}

.btn--delete-all {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: lowercase;
  color: #fff;
  background-color: #eb5757;
  border: none;
  border-radius: 0.4rem;
  padding: 1.2rem 2.6rem;
  align-self: flex-end;
}

.react-icon--delete-all {
  height: 1.2rem;
  position: relative;
  top: 0.2rem;
}
