.filter-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1.9rem;
  border-bottom: 1px solid #bdbdbd;
  margin: 5.8rem 0 1.8rem 0;
}

.filter {
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #333333;
  width: 8.9rem;
}

/* the blue underline under the selected filter in the UI */
.active::after {
  content: '';
  position: absolute;
  width: 8.9rem;
  height: 0.4rem;
  bottom: -2rem;
  left: 0;
  right: 0;
  background-color: #2f80ed;
  border-radius: 4px 4px 0px 0px;
}
